.memo-wrapper {
    width: 30vw;
    height: 230px;
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

.question-box {
    font-size: large;
    font-weight: 600;
}

.question-box button {
    margin-right: 5px;
}

.question-box input {
    width: 100%;
    background-color: transparent;
    border: none;
    overflow-y: hidden;
}

.question-box input:focus {
    outline: 0;
}

.answer-box {
    height: 82%;
}

.answer-box textarea {
    padding: 5px;
    width: 100%;
    height: 90%;
    resize: none;
    background-color: transparent;
    overflow-x: hidden;
}

.answer-box textarea::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 600px) {
    .memo-wrapper {
        width: 40vw;
    }
}