.CoEditor-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.CoEditor-title {
    margin-bottom: 10px;
}

.CoEditor-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.CoEditor-tools button {
    margin-right: 10px;
}

.CoEditor-note {
    width: 90vw;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    overflow-x: hidden;
}