.CoEditor-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.CoEditor-title {
    margin-bottom: 10px;
}

.CoEditor-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.CoEditor-note {
    width: 90vw;
    height: 200px;
    border: 1px solid black;
}